* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Calibri", "Lucida Grande";
	color: black;
}

#header {
  padding-top: 10px;
  background: #F1F1F1;
  border-bottom: 5px solid #ddd;
}

#header .content {
  margin: 0 auto;
  width: 680px;
}

#header .download {
  float: right;
  font-size: 1.8em;
  font-weight: bold;
  padding-top: 36px;
}

#header .download a {
  color: #4183C4;
  text-decoration: none
}

#header .download a:hover {
  color: #74A8D7;
  text-decoration: none
}

#main {
  margin: 0 auto;
  padding-top: 10px;
  width: 700px;
  background: white;
}


h1 { font-size: 3.4em; color: #0061DF; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; color: #000000; }
h1 a { text-decoration: none }
h2 {
  border-bottom: 1px dotted #aaa;
  margin-bottom: 10px;
  margin-top: 15px;
}
h3 { text-align: center; color: #000000; }

a { color: #0061DF; }
.description { font-size: 1.1em; margin-bottom: 6px; margin-top: 4px; font-style: italic; }
.longdescription { text-align: justify; }
.small { text-align:center; font-size: 0.5em; font-weight:normal; }

pre {
  margin: 0 18px 10px 10px;
  padding: 10px;
  border: 1px solid #aaa;
  background: #eee;
  font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono";
  font-size: 0.9em;
}

hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }
